body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #c9559c;
}

.container {
    width: 1200px;
    text-align: center;
    margin: 10px auto;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
}

.container h1 {
    color: #4E62FB;
}

.gallery {
    display: flex;
    justify-content: center;
}

.gallery img {
    width: 19%;
    height: 200px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.gallery img:hover {
    opacity: 0.8;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    z-index: 9999;
}

.lightbox-image {
    width: 70%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.lightbox-caption {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ccc;
    /* font-size: 25px; */
}

.close {
    color: #ccc;
    font-size: 40px;
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
}

.close:hover {
    color: red;
}